body {
    margin: 0;
    text-align: center;
    background: #1B244A;
    background-size: 1vh;
}

.container {
    display: flex;
    justify-content: space-around;
}
h1{
    width: 155px;
    height: 120px;
    background: black;
    color: #F94F6D;
    text-align: center;
    font-family: Cursed Timer ULiL;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: 126.666px; /* 140.74% */  
    margin-top: 21px;
}
h3{
    width: 155px;
    color: #EEE;
    text-align: center;
    font-family: Verdana;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 35.893px; /* 89.732% */
}
button{
    text-align: center;
    font-family: Cursed Timer ULiL;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color:  #9AABD8;
    padding: 10px;
    border: 2px solid #9AABD8;
    background: #1B244A ;
}
#sec_guest_button{
    margin: 0 10px;
}
#sec_home_button{
    margin: 0 10px;
}
#reset{
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Cursed Timer ULiL;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #F94F6D;
    padding: 10px;
    border: 2px solid #9AABD8;
    background: #1B244A ;
}